/*Global CSS*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        transition: all 0.4s ease-in-out;
        font-family: "Quicksand";
    }
    .center {
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
    .text-center {
        text-align: center;
    }
    .pink {
        color: rgb(247, 74, 74);
    }
    .header-title {
        font-size: 3em;
        font-weight: 700;
    }
    [tooltip]:before {
        position: absolute;
        content: attr(tooltip);
        opacity: 0
    }
    [tooltip]:hover:before {
        opacity: 1;
    }
    [tooltip]:not([tooltip-persistent]):before {
        pointer-events: none;
    }
    :root {
        scroll-behavior: smooth;
    }
    /* This is to make the gradient bottom & left border */
        .bot-left {
          position: relative;    
        }
        .bot-left:before, .bot-left:after {
          content: "";
          position: absolute;
          bottom: -3px;
          left: -3px;

        }   
        .bot-left:after {
          right: -3px;
          height: 3px;
          background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#ffd9d9), to(#ff7676));
          background-image: -webkit-linear-gradient(left,#ffd9d9, #ff7676);
          background-image: -moz-linear-gradient(left, #ffd9d9, #ff7676);
          background-image: -o-linear-gradient(left, #ffd9d9, #ff7676);
        }
    .desktop-display {
        display: inline-block;
    }
    .mobile-display {
        display: none;
}
.active {
    display: inline-block
}
/* Nav bar */
    .bg-light {
        background-color: rgba(0,0,0,0.7);
    }
    .navbar-light .navbar-nav .nav-link {
        color: rgb(174, 174, 175);
    }
    .navbar-light .navbar-nav .nav-link:hover {
        color: rgb(247, 74, 74);
    }
    .bg-dark {
        background-color: #262626!important;
    }
/*Video banner*/
    .main-banner {
        position: relative;
    }
    .video-container {
        position: relative;
        z-index: 1;
        padding-bottom: 0;
    }
    .overlay {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        z-index: 3;
    }
    .video-container .background-overlay {
        width: 100%;
        height: 99.5%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2;
        background-color: rgba(0,0,0,0.3)
    }
    .overlay h1 {
        color: white;
        font-size: 7em;
    }
    .overlay button {
        margin-top: 10px;
        font-size: 1.5em;
        color: #ff5454;
        background-color: rgba(0,0,0,0);
        padding: 10px 30px;
        border-radius: 10px;
        border: 2px solid #ff5454;
        font-weight: 700;
        cursor: pointer;
    }
    .overlay button:hover {
        background-color: rgb(247, 74, 74);
        color: white;
    }

/* Card section */
    .card {
        width: 98%;
        margin: 20px auto;
    }
    .card-body {
        text-align: center;
        margin: 0;
    }
    .card:hover {
        background-color: #f7f7f7;
    }
    .card-title {
        margin-top: 15px;
    }
    .card-body p {
        height: 120px;
    }
    .btn-primary {
        background-color: rgba(0,0,0,0);
        border: #3d3d3d solid 1px;
        color: #3d3d3d
    }
    .btn-primary:focus {
        background-color: rgb(247, 74, 74);
        border: #3d3d3d solid 0px;
        outline: none!important;
        color: white;
    }
    .btn-primary:hover {
        background-color: rgb(247, 74, 74);
        border: #3d3d3d solid 0px;
        color: white;
    }
/* Space Section */
    #space-section div {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #space-section img {
        border-radius: 5px;
        box-shadow: -5px 5px 20px rgba(0,0,0,0.2);
    }
    #space-section h2 {
        font-weight: 700;
        color: rgb(247, 74, 74);
        margin-bottom: 15px;
        padding-left: 0px;
        width: 250px;
    }
    #space-section p {
        margin: 0 0;
        color: #5e5e5e;
    }
    .space-info-right
        {
            height: 200px;
            position: relative;
            top: 50px;
            left: -100px;
            padding-top: 30px;
            padding-left: -100px;
            background-color: rgba(255,255,255,0.9);
    }
    .space-info-left
        {
            height: 200px;
            position: relative;
            top: 50px;
            right: -100px;
            padding-top: 30px;
            padding-left: -100px;
            background-color: rgba(255,255,255,0.9);
    }
    .price-details {
        margin-top: 15px;
    }
/* Location section */
    .gray-bg {
        width: 100vw;
        height: 100%;
        background-color: #f9f9f9;
    }
    #location {
        margin-top: 100px;
        padding-bottom: 20px;
        margin-bottom: 50px;
        text-align: center;
        display: flex;
        flex-flow: column nowrap;
    }
    #location h2 {
        width: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #location iframe {
        padding-left: 0;
    }
    #info {

    }
    #info h3 {
        color:rgba(247,74,74,1);
        font-weight: 700;
        border: rgba(247,74,74,1) solid 2px;
        border-radius: 5px;
        display: block;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 1.4em;
    }
    #info p {
        margin-bottom: 0;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
    }
/* Amenities Section */
    #amenities {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 60%;
        margin-top: 50px;
        margin-bottom: 50px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    .amenities-wrapper {
        background-color: #ededed;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #amenities-header {
        margin-top: 30px;
    }
    .icon {
        margin: 5px 10px;
        width: 10%;
    }
/* Community Section */
    .community-content-wrapper {
        height: 200px;
        width: 75%;
        background-color: rgba(255,255,255,0.9);
        position: relative;
        top: -60px;
        z-index: 3;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    #community img {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #community h2 {
        margin-top: 15px;
    }
    #community h3 {
        color: rgba(247,74,74,1);
        border-bottom: rgba(247,74,74,1) 2px solid;
        padding: 10px;
        display: inline-block;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
/* Hubspot Form Section */
    #form h2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    /* To center the form within its module and applying a max-width */
        form.hs-form,
        .hs_cos_wrapper .form-title {
        max-width: 500px;
        display: block;
        margin: 0 auto;
        }

    /* To center the form title within a form module */
        .hs_cos_wrapper .form-title {
        text-align: center;
        }

    /* To center the form submit button */
        .hs_submit {
            text-align: center;
        }
/* Footer */
    .copyright p {
        font-weight: 700;
    }
    .copyright span {
        font-weight: 400;
    }
    footer ul {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    justify-content: flex-end;    
    }
    .list-inline li {
        list-style: none;
        display: inline-block;
        margin-left: 30px;
        border: 1px solid #aaaaaa;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        color: #aaaaaa;
    }
footer a {
    width: 100%;
    height: 100%;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    color: #aaaaaa;
    position: relative;
    top: 12px;
    left: 17px;
}
footer li:hover {
    border: 0px solid #aaaaaa;
    background-color: #e13640;
    transition: all 0.1!important ease-in-out!important;
}
footer li:hover a {
    color: white;
}
i[class="fa"] {
    
}
@media(max-width: 768px){
    /* GLobal */
        .mobile-display {
            display: inline-block;
        }
        .desktop-display {
            display: none;
        }
    /* Video Banner */
        .overlay h1 {
            font-size: 30px;
        }
        .overlay button {
            font-size: 15px;
        }
    /*Space Section*/
        #space-section p,
        #space-section h2
        {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
        #space-section .btn {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            display: block;
            width: 100px;
        }
        .space-info-right, .space-info-left {
            top: -50px;
            left: 0;
    }
    /* Amenities Section */
        .icon {
            margin: 5px 2px;
            width: 30%;
            height: auto;
        }
        }
